<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-input
                  fill="outline"
                  label="First Name"
                  labelPlacement="floating"
                  id="firstName"
                  type="text"
                  name="firstName"
                  required
                  autofocus="true"
                  #focusField
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  fill="outline"
                  label="Last Name"
                  labelPlacement="floating"
                  id="lastName"
                  type="text"
                  name="lastName"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  fill="outline"
                  label="Email Address"
                  labelPlacement="floating"
                  id="email"
                  type="email"
                  name="email"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  fill="outline"
                  label="Password"
                  labelPlacement="floating"
                  id="password"
                  type="password"
                  name="password"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  fill="outline"
                  label="Confirm Password"
                  labelPlacement="floating"
                  id="confirmPassword"
                  type="password"
                  name="confirmPassword"
                  required
                ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  fill="outline"
                  label="First Time Password"
                  labelPlacement="floating"
                  id="oneTimePassword"
                  type="password"
                  name="oneTimePassword"
                  required
                ></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              color="primary"
              expand="block"
              [disabled]="!f.valid"
            >
              Register
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
